@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove the custom color scheme preference styles */
body {
  color: #000000; /* Set text color to black */
  background-color: #f7f8fa; /* Set background color to white */
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#p5-canvas{
  display: none;
}